body{
    width: 65%;
    margin: 0 auto;
    background-image:url(../assets/Mubva.png);
}
.container{
    width: 200px;
    height: 1000px;
background-color: blanchedalmond;
margin-top: -200px;
}
.headname{margin-top: -1000px;
    margin-left:200px;
}
h1{background-color: brown;}
img{


    border-radius: 60%;
}
h1{background-color: brown}
.left{margin-left: 500px;
}
.right{margin-left: 500px;
}
