<body>
<div class="imgbox">

    <img src="../assets/Shonie.jpg"width="200px"height="200px">
</div>

<div Class="container">
    </div>
<div class="headname">
    <h5>Muva Shonisani</h5>
    <h5>Adress</h5>
    <h5>Vorna Velly</h5>
    <h5>Corner Lingervelt & Berger</h5>
    <h5>Midrand</h5>
    <h5>Email Adress: Muvashoni92@gmail.com</h5>
    <h5>Cell no: 0717277270</h5>
</div>
<div class="right"></div>
<div class="right">
<h1>Personal Description</h1>
<p>Iam assertive, reliable self-motivated and hard working person,<br>
 Who believes in exploring, So as to view life in a different angle i<br>
ave the ability to work as part of the team and always insist on<br>
on maintaining highest integrity and to meet with strict deadline<P><br>
</div>
<div class="left"></div>
<div class="right">
    <h1>Skills Summary</h1>
    <p>Computer skill (MS Office, Microsoft Outlook)<br>
        o Telephone,Communication and Interpersonal skill <br>
        o Time Management skill 
        Communication Effectivel <br>
        o Well Presented, be customer conscious<br>
        o Pay attention to details, Manage others <br>
         o Demonstrate leadership ability <br>
         o Demonstrate personal energy<br>
         Work Under pressure </p>

         <h1>Educational Background</h1>
         <th>Highest School:</th>
         <td>Jonathan Mushaathama Secondary School</td><br>
         <th>Highest Grade Passed:</th>
         <td>Grade12</td><br>
         <th>Subjects Passed:</th>
         <td>English</td><br>
         <td>Tshivenda</td><br>
         <td>Mathematical Literacy</td><br>
         <td>Life Orientation</td><br>
         <td> Accounting</td><br>
         <td>Business Studies</td><br>
         <td> Economics</td><br>
         <th>Year:</th>
         <td>2009</td>
         <h1>Tertiary Education </h1>
         <th>Institution:</th>
         <td>PC Training and Business College</td><br>
         <th>Qualification:</th>
         <td>National Diploma in Information Technology</td><br>
         <th>Year:</th>
         <td>2013</td><br>
         <th>Major Cousers:</th>
         <td>Programming Java(Visual Basic.Net)</td><br>
         <td>Database Systems</td><br>
         <td>IT Group Project</td><br>
         <td>Information Systems</td><br>
         <td>Networking</td><br>
         <td>PC Engineering</td><br>
         <td>PC hardware</td><br>
         <td>Helpdesk</td><br>

         <th>Name of Company:</th>
         <td>Hewllet Packed Enterprise</td><br>
         <td>Insititution:</td>
         <td>Gijima Technologies</td><br>
         <td>Sudied:</td>
         <td>MTA Certificate</td><br>
         <td>Year:</td>
         <h1>Work Exprience</h1>
         <th>Company:</th>
         <td>Gauteng Department of Social Development</td><br>
         <th>Position:</th>
         <td>ICT Helpdesk Support Technician</td><br>
         <th>Period</th>
         <td>12 Months</td>
         <h3>Duties and Responsibilities</h3>
         <p> Maintenance and Repairing of Desktop computers<br>
         Laptops, printers, Scanners, <br>
         Hardware and Software Support and Troubleshooting.<br>
        Reloading of corrupt operating system<br> 
        Upgrade and Downgrade OS and Application<br>
        Installation of Government Systems<br>
        Audit I.T Equipment<br>
        Setup and Configuring printers<br>
        Helpdesk & Telephone support<br>
        Call logging and registers for repairs<br>
        Creating users Account ( Active Directory)M<br>
        Creating email accounts (M.S exchange server<br>
        Network cabling infrastructure and TCP\IP<br>
         Desktop support<p><br>
    </div>
</body>

